/*RESET E ESTILOS BASE*/
/*0' é um seletor universal que apliaca estilos a TODOS os elementos da página */
*{
    margin: 0;/*remove as margens padrão que os navegadores adicionaram*/
    padding: 0;/*remove os espaçamentos internos padrão*/
    box-sizing: border-box;/*faz com que o padding border sejam incluídos na largura e altura total do elemento*/
}
body{
    /*Fontes: Segue UI Tahoma, Geneva, Verdana sans-serif(Segue UI é a primeira opcao, se não tiver, vai tentando as próxima)*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6; /*altura entre linhas 1.6x o tamanho da fonte*/
    color: #333;/*cor do texto é cinza escuro*/
    /*gradiente de fundo:135deg e a direção, de roxo claro para roxo escuro*/
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    padding: 1rem  5%;/* 1rem = 16px tamanho padrão da fonte, 5% largura do container*/
    display: flex; /*ativa o flexbox para o layout flexível*/
    align-items:center; /*alinhar os itens verticalmente ao centro*/
}